
{{% stylesheet %}
.my_liquid {
  background-color: {{section.settings.background}};
  color:{{section.settings.body_text}};
  text-align: {{section.settings.text_alignment}};
  padding: {{ section.settings.padding }}px;
  font-size:{{ section.settings.font_size }}px;
}
{{% endstylesheet %}}

{% if section.settings.show_announcement %}
<div class="my_liquid">

  {{ section.settings.a_text}}

</div>
  {% endif %}


{% schema %}
  {
    "name": "Acb",
    "settings": [
                {
                  "type": "checkbox",
                  "id": "show_announcement",
                  "label": "Show announcement",
                  "default": true
                },
                {
                  "type": "text",
                  "id": "a_text",
                  "label": "Heading",
                  "default": "Please enter a text"
                },
                  {
              "type": "range",
              "id": "font_size",
              "min": 12,
              "max": 44,
              "step": 1,
              "unit": "px",
              "label": "Font size",
              "default": 16
            },
          {
              "type": "range",
              "id": "padding",
              "min": 12,
              "max": 20,
              "step": 1,
              "unit": "px",
              "label": "Padding",
              "default": 16
            },
                {
              "type": "color",
              "id": "body_text",
              "label": "Choose a color",
              "default": "#000000"
            },
                {
              "type": "bg color",
              "id": "background",
              "label": "Choose a color",
              "default": "#000"
            },

                  {
              "type": "select",
              "id": "text_alignment",
              "label": "Text Alignment",
              "options": [
                {

                  "value": "left",
                  "label": "Left"
                },
                {
                  "value": "middle",
                  "label": "Middle"
                },
                {
                  "value": "right",
                  "label": "Right"
                }
              ],
              "default": "middle"
            }

   
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}




